apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ k8s_certificate_authority_data }}
    server: https://{{ k8s_cluster_ip }}:16443                                                                                                                                              
  name: my-cluster
contexts:
- context:
    cluster: my-cluster
    namespace: default 
    user: admin
  name: admin@my-cluster
current-context: admin@my-cluster
kind: Config
preferences: {}
users:
- name: admin
  user:
    token: {{ k8s_token }}