---
apiVersion: v1
kind: Secret
metadata:
  name: code-server-secrets
  namespace: applications
stringData:
  SUDO_PASSWORD: {{ code_server_sudo_password }}
  LOGIN_PASSWORD: {{ code_server_login_password }}
type: Opaque

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: code-server
  namespace: applications
  labels:
    app: code-server
spec:
  replicas: 1
  revisionHistoryLimit: 5
  selector:
    matchLabels:
      app: code-server
  template:
    metadata:
      name: code-server-pod
      labels:
        app: code-server
    spec:
      containers:
        - name: code-server-container
          image: linuxserver/code-server:latest
          imagePullPolicy: Always
          ports:
          - containerPort: 8443
          env:
          - name: TZ
            value: America/Vancouver
          - name: SUDO_PASSWORD
            valueFrom:
              secretKeyRef:
                name: code-server-secrets
                key: SUDO_PASSWORD
          - name: PASSWORD
            valueFrom:
              secretKeyRef:
                name: code-server-secrets
                key: LOGIN_PASSWORD
          volumeMounts:
            - name: config
              mountPath: /config
      volumes:
      - name: config
        nfs:
          server: {{ nfs_server_ip }}
          path: "{{ nfs_mount_path }}k8svolumes/code-server"

---
apiVersion: v1
kind: Service
metadata:
  name: code-server-svc
  namespace: applications
  labels:
    app: code-server
spec:
  type: LoadBalancer
  selector:
    app: code-server
  ports:
  - port: 8443
    targetPort: 8443
