apiVersion: v1
kind: ConfigMap
metadata:
  name: code-server-config
  namespace: applications
data:
  PUID: "{{ puid }}"
  PGID: "{{ pgid }}"
---
apiVersion: v1
kind: Secret
metadata:
  name: code-server-secrets
  namespace: applications
stringData:
  SUDO_PASSWORD: {{ code_server_sudo_password }}
  LOGIN_PASSWORD: {{ code_server_login_password }}
type: Opaque

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: code-server
  namespace: applications
  labels:
    app: code-server
spec:
  replicas: 1
  revisionHistoryLimit: 5
  selector:
    matchLabels:
      app: code-server
  template:
    metadata:
      name: code-server-pod
      labels:
        app: code-server
    spec:
      containers:
        - name: code-server-container
          image: linuxserver/code-server:latest
          imagePullPolicy: Always
          ports:
          - name: liveness-probe
            containerPort: 8443
          env:
            - name: TZ
              valueFrom:
                configMapKeyRef:
                  key: timezone
                  name: timezone-configmap
          envFrom:
            - configMapRef:
                name: code-server-config
            - secretRef:
                name: code-server-secrets
          volumeMounts:
            - name: config
              mountPath: /config
          startupProbe:
            httpGet:
              path: /login
              port: liveness-probe
            initialDelaySeconds: 30
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /login
              port: liveness-probe
            initialDelaySeconds: 30
            periodSeconds: 10
      volumes:
      - name: config
        nfs:
          server: {{ nfs_server_ip }}
          path: "{{ nfs_mount_path }}k8svolumes/code-server"

---
apiVersion: v1
kind: Service
metadata:
  name: code-server-svc
  namespace: applications
  labels:
    app: code-server
spec:
  type: LoadBalancer
  selector:
    app: code-server
  ports:
  - port: 8443
    targetPort: 8443
