---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: nfs-code-server-pv
  labels:
    location: nfs
    type: shared
    target: code-server
spec:
  storageClassName: nfs
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteMany
  mountOptions:
    - hard
    - nfsvers=3
  nfs:
    server: {{ nfs_server_ip }}
    path: "{{ nfs_mount_path }}k8svolumes/code-server"

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "nfs-code-server-pvc"
  namespace: applications
  labels:
    type: shared
    target: code-server
spec:
  storageClassName: nfs
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  selector:
    matchLabels:
      type: shared
      target: code-server