---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: plex-config-pv
  labels:
    app: plex
    type: config
    location: truenas
spec:
  storageClassName: nfs
  capacity:
    storage: 100Gi
  accessModes:
    - ReadWriteMany
  mountOptions:
    - hard
    - nfsvers=3
  nfs:
    server: {{ nfs_server_ip }}
    path: "{{ nfs_mount_path }}/k8svolumes/plex"

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: plex-config-pvc
  namespace: {{ plex_namespace }}
  labels:
    app: plex
spec:
  storageClassName: nfs
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 100Gi
  selector:
    matchLabels:
      app: plex
      type: config