---
apiVersion: v1
data:
  NORDVPN_USERNAME: {{ nordvpn_username | b64encode }}
  NORDVPN_PASSWORD: {{ nordvpn_password | b64encode }}
kind: Secret
metadata:
 name: nordvpn-secrets
 namespace: {{ namespace }}
type: Opaque