---
apiVersion: v1
data:
  USER: "{{ nordvpn_username | b64encode }}"
  PASS: "{{ nordvpn_password | b64encode }}"
kind: Secret
metadata:
  name: nordvpn-secrets
  namespace: "{{ namespace }}"
type: Opaque