---
kind: Service
apiVersion: v1
metadata:
  name:  torrent-server-tcp-svc
  namespace: {{ namespace }}
  annotations:
    metallb.universe.tf/allow-shared-ip: torrent_shared_dns
spec:
  selector:
    app: torrent-server
  type:  LoadBalancer
  ports:
  - name:  http
    port:  80
    targetPort:  8080
  - name:  tcp-6881
    port:  6881
    targetPort:  6881
---
kind: Service
apiVersion: v1
metadata:
  name:  torrent-server-udp-svc
  namespace: {{ namespace }}
  annotations:
    metallb.universe.tf/allow-shared-ip: torrent_shared_dns
spec:
  selector:
    app: torrent-server
  type:  LoadBalancer
  ports:
  - name:  udp-6881
    port:  6881
    targetPort:  6881
    protocol: UDP