---
apiVersion: v1
kind: Secret
metadata:
  name: mariadb-secrets
  namespace: databases
stringData:
  MARIADB_RANDOM_ROOT_PASSWORD: "true"
  MARIADB_USER: "{{ databases.mariadb.user }}"
  MARIADB_PASSWORD: "{{ databases.mariadb.password }}"