---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: minecraft
  labels:
    app: minecraft
    namespace: {{ namespace }}
spec:
  replicas: 1
  revisionHistoryLimit: 5
  selector:
    matchLabels: 
      app: minecraft
  template:
    metadata:
      name: minecraft-pod
      labels:
        app: minecraft
    spec:
      containers:
      - name: minecraft-container
        image: {{ minecraft_image.name }}:{{ minecraft_image.version }}
        imagePullPolicy: Always
        resources:
          requests:
            cpu: "250m"
            memory: "128M"
          limits:
            cpu: "750m"
            memory: "1G"
        ports:
          - name: server-port
            containerPort: 19132
            protocol: UDP
        readinessProbe: &probe
          exec:
            command:
            - mc-monitor
            - status-bedrock
            - --host
            - 127.0.0.1
          initialDelaySeconds: 60
        livenessProbe: *probe
        env:
        {% for key, value in server_properties.items() %}- name: {{ key }}
          value: "{{ value }}"
        {% endfor %}