---
apiVersion: v1
kind: Service
metadata:
  name: minecraft-service
  namespace: {{ namespace }}
  annotations:
    metallb.universe.tf/address-pool: microk8s-ip-space
spec:
  selector:
    app: minecraft
  type: LoadBalancer
  ports:
  - name: base-port
    port: 19132
    targetPort: 19132
    protocol: UDP
  externalTrafficPolicy: Local