---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: minecraft-pv
  namespace: {{ namespace }}
  labels:
    location: truenas
spec:
  storageClassName: nfs
  capacity:
    storage: 8Gi
  accessModes:
    - ReadWriteMany
  mountOptions:
    - hard
    - nfsvers=4
  nfs:
    server: {{ nfs_server_ip }}
    path: "{{ nfs_mount_path }}/minecraft"

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: minecraft-pvc
  namespace: {{ namespace }}
  labels:
    app: minecraft
spec:
  storageClassName: nfs
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 8Gi
