---
apiVersion: v1
stringData:
  WEBPASSWORD: "{{ pihole_web_password }}"
kind: Secret
metadata:
  name: pihole-secrets
  namespace: "{{ namespace }}"
type: Opaque

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: dns-providers-configmap
  namespace: "{{ namespace }}"
data:
  DNS1: "{{ dns_providers.cloudflare.primary }}"
  DNS2: "{{ dns_providers.cloudflare.secondary }}"

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: timezone-configmap
  namespace: "{{ namespace }}"
data:
  timezone: America/Vancouver