---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pihole
  labels:
    app: pihole
  namespace: "{{ namespace }}"
spec:
  replicas: 2
  revisionHistoryLimit: 5
  selector:
    matchLabels: 
      app: pihole
  template:
    metadata:
      name: pihole-pod
      labels:
        app: pihole
    spec:
      containers:
      - name: pihole-container
        image: pihole/pihole:latest
        imagePullPolicy: Always
        securityContext:
          capabilities:
            add: ["NET_ADMIN", "SYS_NICE"]
        resources:
          requests:
            cpu: "250m"
            memory: "128M"
          limits:
            cpu: "750m"
            memory: "512M"
        ports:
        - name: http-port
          containerPort: 80
        - name: https-port
          containerPort: 443
        - name: dns-port-tcp
          containerPort: 53
        - name: dns-port-udp
          containerPort: 53
          protocol: UDP
        - name: dnssec-port-tcp
          containerPort: 853
        - name: dnssec-port-udp
          containerPort: 853
          protocol: UDP
        livenessProbe:
          httpGet:
            path: /admin/index.html
            port: http-port
          initialDelaySeconds: 60
          periodSeconds: 10
        startupProbe:
          httpGet:
            path: /admin/index.html
            port: http-port
          initialDelaySeconds: 60
          periodSeconds: 10
        envFrom:
          - secretRef:
              name: pihole-secrets
          - configMapRef:
              name: dns-providers-configmap
        env:
        - name: TZ
          valueFrom:
            configMapKeyRef:
              name: timezone-configmap
              key: timezone
        volumeMounts:
        - mountPath: /etc/pihole/
          name: pihole-volume

      volumes:
      - name: pihole-volume
        persistentVolumeClaim:
          claimName: nfs-pihole-pvc