---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: pihole-volume-1
  namespace: {{ namespace }}
  labels:
    location: nfs
    app: pihole
spec:
  storageClassName: nfs
  capacity:
    storage: 4Gi
  accessModes:
    - ReadWriteMany
  mountOptions:
    - hard
    - nfsvers=3
  nfs:
    server: {{ nfs_server_ip }}
    path: "{{ nfs_mount_path }}/etc-pihole"

---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: pihole-volume-2
  namespace: {{ namespace }}
  labels:
    location: nfs
    app: pihole
spec:
  storageClassName: nfs
  capacity:
    storage: 4Gi
  accessModes:
    - ReadWriteMany
  mountOptions:
    - hard
    - nfsvers=3
  nfs:
    server: {{ nfs_server_ip }}
    path: "{{ nfs_mount_path }}/etc-dnsmasq.d"

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pihole-pvc-pihole
  namespace: {{ namespace }}
  labels:
    app: pihole
spec:
  storageClassName: nfs
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 4Gi

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pihole-pvc-dnsmasq
  namespace: {{ namespace }}
  labels:
    app: pihole
spec:
  storageClassName: nfs
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 4Gi