{
  "mysql": {
    "host": "127.0.0.1:3306",
    "user": "semaphore",
    "pass": "semaphore",
    "name": "semaphore"
  },
  "bolt": {
    "host": "",
    "user": "",
    "pass": "",
    "name": ""
  },
  "port": "",
  "interface": "",
  "tmp_path": "/tmp/semaphore",
  "cookie_hash": "+TIOc43Mc6pO67akGZS85X3dVO4cAQUuj4A/Wvos/10=",
  "cookie_encryption": "gOq6WgF411SN/b0Fk7FKxXkoOEH4emaLyMX+DGfX3FE=",
  "email_sender": "",
  "email_host": "",
  "email_port": "",
  "web_host": "",
  "ldap_binddn": "",
  "ldap_bindpassword": "",
  "ldap_server": "",
  "ldap_searchdn": "",
  "ldap_searchfilter": "",
  "ldap_mappings": {
    "dn": "",
    "mail": "",
    "uid": "",
    "cn": ""
  },
  "telegram_chat": "",
  "telegram_token": "",
  "concurrency_mode": "",
  "max_parallel_tasks": 0,
  "email_alert": false,
  "telegram_alert": false,
  "ldap_enable": false,
  "ldap_needtls": false
}